* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: lightgrey;
}

h1 {
  margin-top: 0;
}

h1,h2 {
  text-align: center;
}

.headline {
  padding: 50px 0;
}

.button {
  display: block;
  background-color: lightblue;
  padding: 10px 30px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  border: 0px solid lightblue;
  border-radius: 10px;
}

.button:link {
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  color: white;
  background-color: Cornflowerblue;
}

.borderless-box {
  margin: 50px 0;
  display: block;
}

.text-box-left,
.text-box-right {
  float: left;
  width: 40%;
  padding: 30px;
}

.text-box-left {
  float: left;
}

.text-box-right {
  float: right;
}
